{% include '../inc/header.liquid' %}
<main>
    <!-- page__title-start -->
    <section class="page__title p-relative d-flex align-items-center" data-background="assets/img/bg/page-title-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__title-inner text-center">
                        <h1>Sign Up</h1>
                        <div class="page__title-breadcrumb">                                 
                            <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
                            </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page__title-end -->

    <!-- signup__area start -->
    <section class="signup__area po-rel-z1 pt-100 pb-100">
        <div class="container">
           <div class="row">
              <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                 <div class="sign__wrapper white-bg">
                    <div class="sign__header mb-35">
                       <div class="sign__in text-center">
                          <a href="#" class="sign__social g-plus text-start mb-15"><i class="fab fa-google-plus-g"></i>Sign Up with Google</a>
                          <p> <span>........</span> Or, <a href="/register">sign up</a> with your email<span> ........</span> </p>
                       </div>
                    </div>
                    <div class="sign__form">
                       <form action="#" id="regForm" method="POST">
                          <div class="sign__input-wrapper mb-25">
                             <h5>Full Name</h5>
                             <div class="sign__input">
                                <input type="text" name="fname" autocomplete="off" required id="fname" placeholder="Full name">
                                <i class="fal fa-user"></i>
                             </div>
                          </div>
                          <div class="sign__input-wrapper mb-25">
                             <h5>Work/Contact email</h5>
                             <div class="sign__input">
                                <input type="email" name="email" autocomplete="off" id="email" required placeholder="e-mail address">
                                <i class="fal fa-envelope"></i>
                             </div>
                          </div>
                          <div class="sign__input-wrapper mb-25">
                           <h5>Phone Number</h5>
                           <div class="sign__input">
                              <input type="tel" name="phone" id="phone" autocomplete="off" required placeholder="Your mobile number">
                              <i class="fal fa-lock"></i>
                           </div>
                        </div>
                          <div class="sign__input-wrapper mb-25">
                             <h5>Password</h5>
                             <div class="sign__input">
                                <input type="password" name="auth" id="auth" autocomplete="off" required placeholder="Password">
                                <i class="fal fa-lock"></i>
                             </div>
                          </div>
                          <div class="sign__input-wrapper mb-10">
                             <h5>Re-Password</h5>
                             <div class="sign__input">
                                <input type="password" name="auth_t" autocomplete="off" id="auth_t" required placeholder="Re-Password">
                                <i class="fal fa-lock"></i>
                             </div>
                          </div>
                          <div class="sign__action d-flex justify-content-between mb-30">
                             <div class="sign__agree d-flex align-items-center">
                                <input class="m-check-input" checked type="checkbox" id="m-agree">
                                <label class="m-check-label" for="m-agree">I agree to the <a href="#">Terms &amp; Conditions</a>
                                   </label>
                             </div>
                          </div>
                          <button class="btn-tp w-100"> <span id="sploader" style="display:none;">
                           <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loadig...
                          </span> <span id="sptext">Sign Up</span> </button>
                          <div class="sign__new text-center mt-20">
                             <p>Already registered ? <a href="/login"> Sign In</a></p>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
    </section>
    <!-- signup__area end -->
    
</main>
{% include '../inc/footer.liquid' %}